*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 5px;
}

.btn-l {
  font-weight: var(--font-weight-extraBold);
  font-size: var(1.8rem);
  line-height: var(--line-height-medium);
  letter-spacing: 2%;
}

.btn-m {
  font-weight: var(--font-weight-extraBold);
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 2%;
}

.btn-s {
  font-weight: var(--font-weight-extraBold);
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2%;
}

@media (max-width: 1440px) {
  h1 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-superlarge);
    line-height: var(--line-height-hyperlarge);
  }
  h2 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-large);
    line-height: var(--line-height-superlarge);
  }
  h3 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-mediumlarge);
    line-height: var(--line-height-large);
  }
}

@media (max-width: 768px) {
  h1 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-large);
    line-height: var(--line-height-superlarge);
  }
  h2 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-mediumlarge);
    line-height: var(--line-height-large);
  }
  h3 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-hypermedium);
    line-height: var(--line-height-mediumlarge);
  }
}

@media (max-width: 768px) {
  h1 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-large);
    line-height: var(--line-height-superlarge);
  }
  h2 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-mediumlarge);
    line-height: var(--line-height-large);
  }
  h3 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-hypermedium);
    line-height: var(--line-height-mediumlarge);
  }
}

@media (max-width: 576px) {
  h1 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-mediumlarge);
    line-height: var(--line-height-large);
  }
  h2 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-hypermedium);
    line-height: var(--line-height-mediumlarge);
  }
  h3 {
    font-weight: var(--font-weight-extraBold);
    font-size: var(--font-size-supermedium);
    line-height: var(--line-height-hypermedium);
  }
}
